In [1]:
import pandas as pd

# Initial way I used to get stock data
from pandas_datareader import data

import datetime as dt

In [2]:
end_date=dt.datetime.today().date()
start_date = dt.date(2018, 9, 29)

In [3]:
# def write_to_csv(data, filename):
    
#     data.to_csv('~/data/')

In [11]:
# Purpose to extract stock data from yahoo
def extract_stock_data(stock_symbols, start_date, end_date=dt.datetime.today().date()):
    all_stock_data = pd.DataFrame()
    for stock in stock_symbols:
        print('Extracting data for:', stock)
        try:
            stock_data = data.DataReader(stock, 'yahoo', start_date, end_date)
            stock_data['ticker'] = stock
            all_stock_data = pd.concat([all_stock_data, stock_data], axis=0)
        except:
            print(stock, 'didnt work')
            continue
            
    return all_stock_data

In [14]:
test = extract_stock_data(['MFC.TO'], start_date)

MFC.TO

In [15]:
test.head()

,High,Low,Open,Close,Volume,Adj Close,ticker
Date,,,,,,,
2018-10-01,23.299999,22.920000,23.250000,23.059999,2489100.0,22.059675,MFC.TO
2018-10-02,23.040001,22.709999,23.000000,22.850000,3043200.0,21.858784,MFC.TO
2018-10-03,23.219999,22.750000,22.910000,23.190001,3025900.0,22.184036,MFC.TO
2018-10-04,23.250000,22.230000,23.200001,22.540001,15138800.0,21.562231,MFC.TO
2018-10-05,22.309999,21.580000,22.010000,21.860001,8723000.0,20.911728,MFC.TO