In [1]:
import pandas as pd
import datetime as dt

# method to extract stock data
from stock_functions import extract_stock_data, multiple_moving_averages, moving_average

# Extract Stock Data

In [2]:
start_date = dt.date(2019, 1, 1)
test = extract_stock_data(['MFC.TO', 'MSFT'], start_date).reset_index()
test.head()

Extracting data for: MFC.TO
Extracting data for: MSFT

,Date,High,Low,Open,Close,Volume,Adj Close,ticker
0,2019-01-02,19.639999,18.940001,19.190001,19.420000,4945100.0,18.791014,MFC.TO
1,2019-01-03,19.480000,19.139999,19.350000,19.280001,4326500.0,18.655548,MFC.TO
2,2019-01-04,19.969999,19.530001,19.600000,19.879999,3448900.0,19.236113,MFC.TO
3,2019-01-07,20.010000,19.650000,20.010000,19.879999,5013400.0,19.236113,MFC.TO
4,2019-01-08,20.309999,19.930000,20.000000,20.200001,5091500.0,19.545750,MFC.TO

# Get Moving Averages

In [3]:
test = multiple_moving_averages(test, 'Close', 'ticker', 30)
test.shape

# Identify Anomalies